

#header h2 {
	color: #0080A5;
}

#content {
	background-color: #fff;
}

#footer {
	padding-top: 10px;
	background-color: #E7E2DD;
}

#content .row {
	padding-top: 5%;
}

.recien {
	margin-left: 3%;
}

#livesearch {
	z-index: 1000;
	background-color: #fff;
}

.omnibar{
	color: #000;
	font-size: 19px;
}

.recent, .login a{
	color: #fff;
	font-size: 19px;
}

.recent:hover, .login a:hover{
	color: #fff;
	font-size: 19px;
	text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
	body {
		background-color: #fff;
		background-image:url('/img/background.png');
	background-repeat:repeat-x;
	}
	#header {
		background-color: #fff;
		color: #0080A5;
		background-image:url('/img/background.png');
	background-repeat:repeat-x;
	}
}

@media only screen and (max-width: 999px) {
	body {
		background-color: #fff;
	}
	#header {
		background-color: #fff;
		color: #0080A5;
	}
}