body {
	background-color: #1DADB5;
}

#content h2, h3, img{
	float: left;
}

#header {
	background-color: #454136;
	color: #fff;
}

#header h2 {
	color: #fff;
}

#content {
	background-color: #FFF6CC;
}

#footer {
	background-color: #E3D39F;
}

#content .row {
	padding-top: 5%;
}